ul,
ol,
li{
    list-style: none;
}

html,
body {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    color: #212121;
    letter-spacing: 0.02em;
    list-style-type: none;

} 

/*logo*/
.logo{
    text-align: center;
    width: 145px;
    height: 32px;
    left: 215px;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.colortext{
    color:#212121;
}
.colortext1{
    color:#FFFFFF;
}

/*header*/
.stu{
    font-weight: 500;
    min-height: 80px;
    width: 49px;
    height: 16px;
    left: 453px;
    color: #212121;
}
.stu:hover,
.stu:focus{
    color: #2196F3;
}
.por{
    width: 77px;
    height: 16px;
    left: 552px;
    font-weight: 500;
    color: #212121;
}
.por:hover,
.por:focus{
    color: #2196F3
}
.con{    
    width: 68px;
    height: 16px;
    left: 679px;
    font-weight: 500;
    color: #212121;
}
.con:hover,
.con:focus{
    color: #2196F3;
}
.contacts .link{
    width: 135px;
    height: 16px;
    left: 1078px;
    font-weight: 500;
    line-height: 1.32;
    color: #757575;
}
.contacts .link:hover,
.contacts .link:focus{
    color: #2196F3;
}

/*hero*/
.hero{
    width: 1600px;
    height: 600px;
    left: 0px;
    background: #2F303A;
}
.hero h1{
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 1.5; 
    transform: translate(452px, 200px);
}
.hero > button{
    transform: translate(700px, 200px);
    width: 200px;
    height: 50px;
    left: 732px;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.1;
}
.hero button:hover,
.contacts button:focus{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color:#FFFFFF;
}
.studio{
    width: 270px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.studio p{
    color: #757575;
}
    
.work{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.commandos{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    background: #F5F4FA;

}
.commandos .position{
    color: #757575;
    font-size: 16px;
    line-height: 19px;
}
.commandos .name{
    font-weight: 500;
    font-size: 16px;
}

footer{
    background: #2F303A;
    width: 1600px;
    height: 252px;
    left: 0px;
}
.address a{
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    
}
.navigatyon button{
    color: #212121;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    width: 145px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
}
.navigatyon button:hover,
.navigatyon button:focus{
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #2196F3;
    border: 0;
}

.photobox{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.photobox img:hover,
.photobox img:focus{
    border: 3px solid #2196F3;;
}
.photobox .name{
    font-weight: 400;
    font-size: 16px;
    line-height: 2.3;
} 

